.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}
.btn-darkred {
    color: #fff;
    background-color: #B80000;
    border-color: #B80000;
}
.btn-darkred:hover {
    color: #fff;
    background-color: #A80000;
    border-color: #B80000;
}
#facebook {
    color: #4267B2;
}
#facebook:hover {
    color: #4249b2;
    cursor: pointer;
}